{% extends 'administracion/base_form.html' %}
{% load widget_tweaks %}
{% load static %}
{% block form %}

<div class="col-sm-9 col-md-9">
        <h1 class="title-project">Búsqueda de personas para devolución</h1>
        <form action="{% url 'saldos-persona' %}" method="get">
            <label class="form-control"> BUSCAR POR DOCUMENTO</label>
            <div class="active-cyan-3 active-cyan-4 mb-4">
                <input class="form-control" type="text" placeholder="Documento..." aria-label="Buscar" name="q">
            </div>
        </form>
</div>
{% endblock %}