alabaster==0.7.12
Babel==2.6.0
certifi==2018.10.15
chardet==3.0.4
confusable-homoglyphs==3.2.0
cycler==0.10.0
Django==2.2.4
django-appconf==1.0.2
django-auditlog==0.4.5
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap-form==3.4
django-bootstrap-modal-forms==1.4.2
django-bootstrap3==11.0.0
django-bootstrap4==0.0.8
django-cleanup==3.2.0
django-easy-audit==1.1
django-fsm==2.6.0
django-generic-positions==0.2.3
django-hvad==1.8.0
django-intl-tel-input2==0.2.0
django-jquery==3.1.0
django-jsonfield==1.2.0
django-libs==2.0.2
django-markdownx==2.0.28
django-multilingual-survey==1.0
django-ranged-response==0.2.0
django-registration==3.0.1
djangorestframework==3.11.2
django-rosetta==0.9.0
django-simple-captcha==0.5.9
django-sql-explorer==1.1.2
django-tastypie==0.14.2
django-tinymce==2.8.0
django-widget-tweaks==1.4.3
docutils==0.14
filelock==3.0.10
gunicorn==19.9.0
idna==2.7
imagesize==1.1.0
Jinja2==2.10
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
ordereddict==1.1
packaging==19.0
Pillow==5.4.0
pluggy==0.8.0
polib==1.1.0
psycopg2==2.7.5
psycopg2-binary==2.7.6.1
py==1.7.0
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.6.0
python-mimeparse==1.6.0
pytz==2019.2
PyYAML==5.1.2
reportlab==3.5.20
requests==2.20.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.0
sqlparse==0.3.0
toml==0.10.0
tox==3.5.3
unicodecsv==0.14.1
urllib3==1.24.1
virtualenv==16.1.0
XlsxWriter==1.2.2
