<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#administracionCollapse"><i class="fas fa-wrench"></i> Configuración</a>
        </h4>
    </div>
    <div id="administracionCollapse" class="panel-collapse collapse">
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'preinscripcion_opciones'  %}">Administrar Preinscripciones</a></li>
            <li class="list-group-item"><a href="{% url 'estudiantes_opciones'  %}">Administrar Estudiantes</a></li>
            <li class="list-group-item"><a href="{% url 'autorizado_opciones'  %}">Administrar Autorizados</a></li>
            <li class="list-group-item"><a href="{% url 'seleccion_oferta'  %}">Administrar Grupos</a></li>
            <li class="list-group-item"><a href="{% url 'personas'  %}">Administrar Personas</a></li>
            <li class="list-group-item"><a href="{% url 'beca-opciones'  %}">Administrar Becas</a></li>
            <li class="list-group-item"><a href="{% url 'tipos-beca'  %}">Administrar Tipos de Becas</a></li>
            <li class="list-group-item"><a href="{% url 'buscar-saldos'  %}">Administrar Devoluciones </a></li>
            <li class="list-group-item"><a href="{% url 'periodos'  %}">Administrar Periodos</a></li>
            <li class="list-group-item"><a href="{% url 'mensajeformalizacion_list' %}">Configurar Mensaje Formalización</a></li>
            <li class="list-group-item"><a href="{% url 'periodicidades'  %}">Administrar Periodiciades</a></li>
            <li class="list-group-item"><a href="{% url 'idiomas'  %}">Administrar Idiomas</a></li>
            <li class="list-group-item"><a href="{% url 'niveles'  %}">Administrar Niveles</a></li>
            <li class="list-group-item"><a href="{% url 'contenido-niveles'  %}">Administrar Contenidos de Niveles</a></li>
            <li class="list-group-item"><a href="{% url 'conjunto-notas' %}">Administrar Conjunto de Notas</a></li>
            <li class="list-group-item"><a href="{% url 'programas'  %}">Administrar Programas Académicos</a></li>
            <li class="list-group-item"><a href="{% url 'ofertas' %}">Administrar Ofertas Academicas</a></li>
            <li class="list-group-item"><a href="{% url 'cursos' %}">Administrar Cursos</a></li>
            <li class="list-group-item"><a href="{% url 'escala-notas'  %}">Administrar Escalas de notas</a></li>
            <li class="list-group-item"><a href="{% url 'franjas' %}">Administrar Franjas</a></li>
            <li class="list-group-item"> <a href="{% url 'horarios'  %}">Administrar Horarios </a></li>
            <li class="list-group-item"><a href="{% url 'descuentos'  %}">Administrar Descuentos</a></li>
            <li class="list-group-item"><a href="{% url 'documentos-requeridos' %}">Administrar Documentos Requeridos</a></li>
            <li class="list-group-item"><a href="{% url 'survey-list' %}">Visualizar plantillas</a></li>
            <li class="list-group-item"><a href="{% url 'asociaciones' %}">Administrar Asociaciones Encuestas</a></li>
            <li class="list-group-item"><a href="{% url 'examen-clasificacion-opciones' %}">Administrar Exámenes de clasificación</a></li>
            <li class="list-group-item"><a href="{% url 'eventos' %}">Administrar Eventos Global</a></li>
            <li class="list-group-item"><a href="{% url 'eventosPeriodo' %}">Administrar Eventos Periodo</a></li>
            <li class="list-group-item"><a href="{% url 'urls' %}">Registrar Urls</a></li>
            <li class="list-group-item"><a href="/administracion/reportes/">Módulo Reportes</a></li>
            <li class="list-group-item"><a href="{% url 'reporte_hermes' %}">Reporte HERMES </a></li>
        </ul>
    </div>
</div>