{% extends "administracion/home.html" %}

{% block content %}
    <div class="col-sm-9 col-md-9">
    <h1 class="title-project">Horario: {{ horario.alias }} - {{ horario.nombre }}</h1>

    <div class="row">
        <div class="col-md-9">
        <ul class="list-group">
            <li class="list-group-item">Nombre: {{ horario.nombre }}</li>
            <li class="list-group-item">Alias: {{ horario.alias }}</li>
            <li class="list-group-item">Franjas horarias: {% for franja in horario.franja.all %}{{ franja }}, {% endfor %}</li>
        </ul>
        </div>

        <div class="col-md-3">
            <div class="well">
                <h3>Acciones</h3>
                <a href="{% url 'horario_update' horario.id %}" class="btn btn-default">Editar</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

