{% extends 'administracion/home.html' %}

{% block content %}
    <div class="col-sm-9 col-md-9">

    <h1 class="title-project">Administración de Horarios</h1>

    {%  if horario_list %}
     <div class="table-responsive">
        <table class="table table-striped table-border">
            <thead class="table-head">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Alias</th>
                <th scope="col">Franjas horarias</th>
                <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody>
          {% for horario in horario_list %}
            <tr>
                <td><a href="{{ horario.get_absolute_url }}">{{ horario.nombre}}</a></td>
                <td>{{ horario.alias}}</td>
                <td>{% for franja in horario.franja.all %}{{ franja }}, {% endfor %}</td>
                <td>
                    <p>
                        <a href="{% url 'horario_update' horario.id %}">
                        <button class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-pencil">
                            </span>
                        </button>
                        </a>
                    </p>
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>

    {% else %}
        <div class="alert alert-warning" role="alert">
            No hay horarios creados
        </div>

    {% endif %}
        <button type="button" class="btn btn-info pull-right" onclick="location.href='{% url 'horario_create' %}'">
             <span class="glyphicon glyphicon-plus-sign"></span> Nuevo horario</button>

    </div>
{% endblock %}

