{% load widget_tweaks %}
{% block form %}
    <form method="post" action="{% url 'comprobante_pago_create' preinscripcion.id %}" class="js-create-pago">
    {% csrf_token %}
         <div class="modal-header">
            <h2 class="modal-title align-center" id="titulo">Administrar Pago</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            {% for field in form %}
              <div class="form-group{% if field.errors %} invalid{% endif %}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
              {% if field.name == 'valor' %}<label id='valor_label' style="font-size:25px;color:olive">$</label>{% endif %}
                {% for error in field.errors %}
                  <p class="help-block">{{ error }}</p>
                {% endfor %}
              </div>
            {% endfor %}
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Subir</button>
          </div>

    </form>
<style>
label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

</style>
    <script>
    $("[name='valor']").on('change click keyup input paste',(function (event) {
        $(this).val(function (index, value) {
            value2 = value
            value2 = '$' + value2.replace(/(?!\.)\D/g, "").replace(/(?<=\..*)\./g, "").replace(/(?<=\.\d\d).*/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $('#valor_label').text(value2);
            return value
        });
    }))

    $("[name='numero_recibo']").on('change click keyup input paste',(function (event) {
        $(this).val(function (index, value) {
            $('#id_concepto_pago').val(value);
            return value
        });
    }))
    </script>
{% endblock %}