{% extends "administracion/home.html" %}

{% block content %}

<h1>Borrar Comprobante de pago</h1>

<form method="post" action="">
    {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Confirmación borrado de Comprobante</h3>

      <div class="modal-footer">
           <p>¿Está usted seguro de querer borrar este comprobante <strong>{{ comprobante.numero_recibo }}</strong> <strong>{{ comprobante.valor }}</strong>?</p>
    <button type="submit" class="btn btn-danger">Borrar Comprobante</button>
  </div>
  </div>



</form>
{% endblock %}