{% extends "administracion/home.html" %}

{% block content %}
    <h1>Modificar Descuento</h1>

    <h3>Preinscripción: {{ descuentoaplicado.preinscripcion_generada.preinscripcionhorariocurso.horario_cupo.nombre }}</h3>
    <h3>¿Está Seguro de modificar el descuento {{ descuentoaplicado.descuento.nombre }} para el usuario:
        {{ descuentoaplicado.preinscripcion_generada.preinscripcionhorariocurso.persona.numero_documento }}?</h3>

    {% block form %}

        <form method="post">
        {% csrf_token %}
                {{ form.as_ul }}
            <div class="form-group">
                <button type="submit" class="btn btn-success pull-right">
                    <span class="glyphicon glyphicon-ok-sign"></span> Guardar
                </button>
            </div>
        </form>
    {% endblock %}
{% endblock %}