{% load widget_tweaks %}
{% block content %}

    

    <div class="wrap-formalizacion" style="text-align: center">
        <h2 class="title-project">Formalización completada con éxito</h2>
        <p>Estimado/a <strong>{{ preinscripcionhorariocurso.persona.primer_nombre }} {{ preinscripcionhorariocurso.persona.primer_apellido }}</strong></p>
    

        <p>Le informamos que la formalización de su curso ha sido completada con éxito.</p>
        <div style="text-align: center">
            <ul style="list-style-type: none;">
        {% if documentos_faltantes %}
            <p style="text-decoration: underline;">Le informamos que aún faltan entregar los siguientes documentos:</p>
            
                {% for documento_requerido in documentos_faltantes %}
                    <li><strong>{{ documento_requerido.nombre }}</strong></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        {% if monto_pendiente %}
            <p style="text-decoration: underline;"> Le recordamos que aún tiene un monto pendiente por pagar: <strong> $ {{ monto_pendiente }}.</strong></p>
        {% endif %}

        <p>Agradecemos su atención y le deseamos éxito en su curso.</p>


    </div>


{% endblock %}

   
    
