{% load widget_tweaks %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/base_preinscripcion.css" %}">
{% block content %}

    <div class="wrap-preinscripcion" style="text-align: center">

        <h2 class="title-project">Su preinscripción se ha completado con éxito</h2>
        <h4>Comprobante de preinscripción a Examen de Clasificación</h4>

        <br/><h4>Datos personales:</h4>
            <strong>Documento de Identidad: </strong>{{ preinscripcion_examen.persona.tipo_documento }} {{ preinscripcion_examen.persona.numero_documento }}
            <strong>Nombres: {{ preinscripcion_examen.persona.getNombres }} {{ preinscripcion_examen.persona.getApellidos }}</strong>
        <br/><h4>Información del examen:</h4>
            <br/>Examen: <strong>{{ preinscripcion_examen.examen.nombre }} - {{ preinscripcion_examen.examen.periodo }}</strong>
            <br>Idioma: <strong>{{ preinscripcion_examen.examen.idioma.nombre }}</strong>
            <br/>Fecha de aplicación: <strong>{{ preinscripcion_examen.examen.fecha_hora}}</strong>
            <br/>Lugar de aplicación: <strong>{{ preinscripcion_examen.examen.lugar_aplicacion }}</strong>

        <br/> <h4>Costo: </h4>
            <br/>Valor a pagar $: <strong>{{ preinscripcion_examen.valor_preinscripcion }}</strong>
        <br/>
        <p>Código generado</p>
        <p>{{ preinscripcion_examen.codigo_hash}}</p>

        <h3>Instrucciones:</h3>

        <p>Citación para entrega de documentos:
            </br>Fecha y hora de recepción de documentos:
            </br>{{ preinscripcion_examen.examen.fecha_hora_recepcion_documentos }}
        </p>

        <div class="container-fluid">
            <div class="row vertical-align">
            <h3>En caso que vaya a realizar pago virtual: </h3>
                <div class="col-xs-12">
                    <a href="http://www.pagovirtual.unal.edu.co" target="_blank"><img src="http://www.pagovirtual.unal.edu.co/img/logounpagos2.png" class="img-responsive center-block" style="width:200px;height: 80px"></a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
