{% extends 'base.html' %}
{% load widget_tweaks %}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% block extrahead %}
    {{ form.media }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/intlTelInput.min.css" %}" xmlns="">
    <script src="{% static "js/intlTelInput.min.js" %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>

{% endblock %}
{% block content %}
    <div class="wrap-login col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        {% if next %}
            {% if user.is_authenticated %}
                <p>Su cuenta no tiene acceso a esta página.por favor autentiquese con un usuario con acceso</p>
            {% else %}
                <p>Por favor autentiquese para ver el contenido.</p>
            {% endif %}
        {% endif %}
    {% if form.errors %}
	<!-- Error messaging -->
	<div id="errors" class="alert alert-warning" role="alert">
		<div class="inner">
			<h3>Hay errores en la información ingresada. por favor corrija lo siguiente:</h3>
			{{ form.non_field_errors }}
			<ul>
				{% for field in form %}
					{% if field.errors %}<li class="alert alert-danger">{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /Error messaging -->
    {% endif %}
    <form method="post">

    <span class="login100-form-title p-b-49">
        Ingreso de datos del estudiante
    </span>
            <br />
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName">Tipo de documento:</label>
                        <div class="input-group">
                            <div class="input-group addon">
                                <span class="input-group-addon" id="basic-addon1"><i class="fas fa-id-card-alt"></i></span>
                                {{ form.tipo_documento|add_class:'form-control' }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName">Número de documento:</label>
                        <div class="input-group">
                            <div class="input-group addon">
                                <span class="input-group-addon" id="basic-addon1"><i class="fas fa-id-card-alt"></i></span>
                                {{ form.numero_documento|add_class:'form-control'|attr:'pattern:[a-zA-Z0-9-]+' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group m-b-23">
                        <span class="label-input100">Primer nombre</span>
                        {{ form.primer_nombre|add_class:'form-control' }}
                    </div>

                </div>


                <div class="col-sm-6">
                    <div class="form-group m-b-23">
                        <span class="label-input100">Segundo nombre</span>
                        {{ form.segundo_nombre|add_class:'form-control' }}
                    </div>
                </div>

                <div class="col-sm-6">

                    <div class="form-group m-b-23">
                        <span class="label-input100">Primer apellido</span>
                        {{ form.primer_apellido|add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="form-group m-b-23">
                        <span class="label-input100">Segundo apellido</span>
                        {{ form.segundo_apellido|add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group m-b-23 ">

                        <span class="label-input100">Ingrese su fecha de nacimiento</span>
                        {{ form.fecha_nacimiento|add_class:"form-control pr-3"}}

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName"> ¡Se recomienda usar correo de gmail para asegurar llegada de la confirmación!</label>
                        <br/>
    
                        <label for="inputFirstName">Correo electrónico:</label>
                        <div class="input-group">
                            <div class="input-group addon">
                                <span class="input-group-addon" id="basic-addon1"><i class="fas fa-mail-bulk"></i></span>
                                {{ form.email|add_class:'form-control' }}
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName">Confirmar correo electrónico:</label>
                        <div class="input-group">
                            <div class="input-group addon">
                                <span class="input-group-addon" id="basic-addon1"><i class="fas fa-mail-bulk"></i></span>
                                {{ form.email2|add_class:'form-control' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName"> ¡Su contraseña debe tener al menos 8 caracteres con al menos un número y una mayúscula!</label>
                        <br/>
                        <label for="inputFirstName">Contraseña:</label>
                        <div class="input-group">
                            <div class="input-group addon">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
                                {{ form.password1|add_class:'form-control' }}
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName">Confirmar contraseña:</label>
                        <div class="input-group">
                            <div class="input-group addon">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
                                {{ form.password2|add_class:'form-control' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row row-eq-height">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group" style="text-align: center">
                        <label for="inputFirstName">Ingrese las letras que ve en la imagen:</label>
                        <div class="input-group">
                            <div class="input-group addon">
                                {{ form.captcha|add_class:"form-control"}}
                            </div>
                        </div>
                    </div>
                </div>
</div><br />
            <div class="row row-eq-height">
                <div class="col-md-6 col-md-offset-3">
                    <span class="align-middle">
                    <div class="form-group" style="text-align: center">
                        <label for="inputFirstName">Acepto la <a class="inline cboxElement" href="#habeas_data">política de tratamiento de datos personales</a></label>
                        <div class="input-group">
                            <div class="input-group addon">
                                {{ form.acepta_habeas_data }}
                            </div>
                        </div>
                    </div>
                    </span>
                </div>

            </div>




            {% csrf_token %}
            <div class="container-login100-form-btn">
                <button type="submit" class="btn-primary-login">
                    Ingresar
                </button>
            </div>
            <div class="text-right p-t-8 p-b-31">
            </div>

            <div style='display:none'>
                <div id='habeas_data' style='padding:10px; background:#fff;'>
                    <div id="c656" class="csc-default"><div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Tratamiento de datos personales</h1></div><p class="bodytext">La <b>UNIVERSIDAD NACIONAL DE COLOMBIA&nbsp;</b>como responsable del tratamiento de datos personales de sus titulares y en cumplimiento del artículo 10 del Decreto 1377 de 2013, reglamentario de la Ley Estatutaria 1581 de 2012 informa que, previamente a la expedición del señalado Decreto, ha recolectado datos personales de los titulares imprescindibles para el cumplimiento de la misión institucional de formación, investigación y extensión. Contamos con la política de tratamiento de datos personales que puede ser consultada (<a href="/fileadmin/user_upload/docs/POLITICA_DE_TRATAMIENTO_DATOS.pdf" title="Initiates file download" target="_blank" class="download">ver archivo pdf</a>)
                    </p>
                        <p class="bodytext">La&nbsp;<b>UNIVERSIDAD NACIONAL DE COLOMBIA</b>&nbsp;en los términos dispuestos en la Ley queda autorizada de manera expresa para mantener y manejar toda la información de los titulares a no ser que manifiesten lo contrario de manera directa, expresa, inequívoca y por escrito en los treinta (30) días hábiles contados a partir de la publicación del presente aviso así:
                        </p>
                        <p class="bodytext">Si el titular no posee correo institucional de la Universidad podrá manifestar el deseo de tratamiento específico de su información personal al correo&nbsp;<b><a href="mailto:habeasdata@unal.edu.co">habeasdata@unal.edu.co</a></b>.&nbsp;
                        </p>
                        <p class="bodytext">En caso de que el titular cuente con correo institucional de la Universidad podrá manifestar el deseo de tratamiento específico de su información personal ingresando a la siguiente&nbsp;<a href="http://www.unal.edu.co/contenido/habeas/ingreso_habeas.php" target="_blank"><b>PÁGINA</b></a>&nbsp;y diligenciar el formulario dispuesto para tal fin.
                        </p>
                        <p class="bodytext">&nbsp;</p>
                        <p class="bodytext"><i>Bogotá D.C, 26 de julio de 2013</i></p></div>
                </div>
            </div>


        </form>

    </div>

{% endblock %}
