{% extends "administracion/base_form.html" %}
{% load widget_tweaks %}
{% block form %}
    <div class="wrap-edit-profile">
    <form method="POST">
        <span class="login100-form-title p-b-49">
            Modificar contraseña
        </span>

        {% for field in form %}

            <div class="form-group col-md-12 col-sm-12">
                <span class="label-input100" for="{{ field.id_for_label }}">{{ field.label }}</span>
                {{ field|add_class:'form-control'}}
            </div>

            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}

        {% endfor %}
        {% csrf_token %}

    <div class="container-login100-form-btn col-md-6 col-md-offset-3">
        <button type="submit" class="btn-primary-login">
            Guardar
        </button>
    </div>

    </form>
    </div>

{% endblock %}