{% extends "administracion/base_form.html" %}
{% load widget_tweaks %}

{% block administration-title %}
    <h2 class="title-project">Administrar Franja</h2>
{% endblock %}

{% block form %}
    <div class="row card">

    <form class="form-horizontal" method="post">
    {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group small-margin">
             <label for="{{ field.id_for_label }}" class="col-md-3 control-label">{{ field.label }}
                <span class="help-block"><i class="glyphicon glyphicon-question-sign" data-toggle="popover" title="{{ field.help_text }}" data-content="{{ field.help_text }}" ></i></span>
             </label>

            <div class="col-md-9">
                {{ field|add_class:'form-control' }}
             </div>
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
            </div>
        {% endfor %}

        <div class="form-group">
            <button type="submit" class="btn btn-success pull-right">
                <span class="glyphicon glyphicon-ok-sign"></span> Guardar
            </button>
        </div>
    </form>
    </div>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.timepicker.css" %}" media="all">
    <script src="{% static 'js/jquery.timepicker.js' %}"></script>
    <script type="text/javascript">
    $('#id_hora_inicio').timepicker({ 'timeFormat': 'H:i:s' });
    $('#id_hora_final').timepicker({ 'timeFormat': 'H:i:s' });
    </script>
{% endblock %}
