{% extends "administracion/home.html" %}
{% load profile_tags %}
{% block content %}

    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        <a href="{% url 'mis-cursos' %}">Volver a mis cursos</a>

    <div class="col-sm-9 col-md-9">
    <h1 class="title-project">Calificación de grupos</h1>

    <div class="well">
        <div class="row">
            <div class="col-sm-6">
               <h3 class="title-project">Grupo:</h3> {{ grupo.nombre }}
                <h3 class="title-project">Código:</h3> {{ grupo.codigo }}
                <h3 class="title-project">Idioma:</h3> {{ grupo.horarioCurso.curso.nivel.idioma.nombre }}
                <h3 class="title-project">Nivel:</h3> {{ grupo.horarioCurso.curso.nivel.nombre }}
                <h3 class="title-project">Horario:</h3> {{ grupo.horarioCurso.horario.nombre }}
                <h3 class="title-project">Periodo:</h3>{{ periodo.alias }}
                <h3 class="title-project">Docentes generales:</h3>
                {% for docente_general in docentes_generales %}
                    {{ docente_general.docente.persona.getNombreCompleto|upper }}<br>
                {% endfor %}
                <h3 class="title-project">Docentes especializados:</h3>
                {% for docente_especializado in docentes_especializados %}
                    {{ docente_especializado.docente.persona.getNombreCompleto|upper }}<br>
                {% endfor %}

            </div>
            <div class="col-sm-6">
                <h4>Recuerde que la escala de notas del programa académico
                al que pertenece este grupo es:</h4><br>
                <h3 class="title-project">Nota mínima:</h3> {{ escala_notas.nota_minima }}
                <h3 class="title-project">Nota máxima:</h3> {{ escala_notas.nota_maxima }}
                <h3 class="title-project">Número de decimales:</h3> {{ escala_notas.numero_decimales }}
                <h3 class="title-project">Nota aprobatoria:</h3> {{ escala_notas.nota_aprobatoria }}

            </div>
        </div>

    </div>

    <div class="well">
        <ul style= "list-style-type: circle;">
            <li><h4>Oprima el botón <b>Calificar grupo</b> cuando esté seguro de los valores registrados.
                    El proceso de calificación puede tardar unos minutos.</h4> </li>
            <li><h4>Estimado docente por favor tenga en cuenta que los estudiantes que aún se encuentran pendientes de
                formalizar completamente su Inscripción estaran señalados en color <b>amarillo</b> y NO podran ser calificados.</h4> </li>
          </ul>
    </div>

    {% if matriculas %}
        <div class="table-responsive">
        <table class="table bg-table table-border size-text-table">
            <thead class="table-head">
            <tr>
                <th class="sticky-head first-col" width="5%">Nº</th>
                <th class="sticky-head second-col">Documento</th>
                <th class="sticky-head third-col">Nombre estudiante</th>
                {% for nota in notas %}
                    <th>{{ nota.nombre }}</th>
                {% endfor %}
                <th scope="col">Nota definitiva</th>
            </tr>
            <tr>
                <th class="sticky-head note-col" colspan="3"></th>
                {% for nota in notas %}
                    <th>{{ nota.ponderacion }}%</th>
                {% endfor %}
                <th>100%</th>
            </tr>
          </thead>
          <tbody>
          {% for matricula in matriculas %}
              {% if matricula.estado_preinscripcion == 3 %}
                 <tr class="col-calificacion" style="background-color:#e26969">
              {% else %}
                 <tr class="col-calificacion">
              {% endif %}
            <tr class="col-calificacion">
                <input type="hidden" id="matriculaId" name="matriculaId" value="{{ matricula.id }}" class="matricula">
                <td class="sticky-col first-col">{{ forloop.counter }}</td>
                <td class="sticky-col second-col"><b>{{ matricula.estudiante.numero_documento }}</b></td>
                <td class="sticky-col third-col"><b>{{ matricula.estudiante.getApellidos | upper }} {{ matricula.estudiante.getNombres | upper}} </b></td>
                {% for nota in notas %}
                    <td>
                        <input type="hidden" id="notaId" name="notaId" value="{{ nota.id }}" class="nota">

                    {% with calificaciones=calificaciones_matricula|get_item:matricula %}
                        {% if matricula.estado_preinscripcion == 3 %}
                        <input type="text" placeholder="0.0" name="nota-" id="nota-{{ nota.id }}_{{ matricula.id }}"  size="4"
                            value="0.0" class="input-nota" disabled>
                        {% else %}
                        {% if calificaciones|length == 0 %}
                            <input type="text" placeholder="0.0" name="nota-" id="nota-{{ nota.id }}_{{ matricula.id }}"  size="4"
                                value="0.0" class="input-nota"
                                   {% if not es_administrador and tipos_docente and nota.tipo_nota not in tipos_docente and tipo_general.id not in tipos_docente %}
                                     disabled
                                   {% endif %}>
                        {% else %}
                            <input type="text" placeholder="0.0" name="nota-" id="nota-{{ nota.id }}_{{ matricula.id }}" class="input-nota" size="4"
                                value="{{ calificaciones|get_item:nota }}"
                                   {% if not es_administrador and tipos_docente and nota.tipo_nota not in tipos_docente and tipo_general.id not in tipos_docente %}
                                     disabled
                                   {% endif %}>
                        {% endif %}
                    {% endif %}
                    {% endwith %}
                    </td>
                {% endfor  %}
                <td>
                 {% if matricula.calificacionFinal < escala_notas.nota_aprobatoria %}
                     <span class="alert-danger">{{ matricula.calificacionFinal }}</span>
                 {% else %}
                    <span class="alert-success">{{ matricula.calificacionFinal }}</span>
                 {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
        <button type="button" class="btn btn-danger pull-right" id="submit-btn">
            <span class="glyphicon glyphicon-ok"></span>Calificar grupo</button>
        </div>

    {% else %}
        <div class="alert alert-warning" role="alert">
            No se encontraron estudiantes para este grupo académico
        </div>
    {% endif %}

    <style>
            .sticky-head {
           position: -webkit-sticky;
           position: sticky;
           background-color: #7bcac9;

        }

        .sticky-col {
            position: -webkit-sticky;
            position: sticky;
            background-color: whitesmoke;
        }

        .first-col {
           width: 50px;
           min-width: 50px;
           max-width: 50px;
           left: 0px;
        }

        .second-col {
           width: 100px;
           min-width: 100px;
           max-width: 100px;
           left: 50px;
        }

        .third-col {
           width: 180px;
           min-width: 180px;
           max-width: 180px;
           left: 150px;
        }

        .note-col {
            width: 330px;
            min-width: 330px;
            max-width: 330px;
            left: 0px;
        }

        .size-text-table {
            font-size: 14px;
        }

        .bg-table{
            background-color: whitesmoke;
        }

        .input-nota{
            width: 60px;
        }

    </style>

    <script>

        function checkDecimal(texto) {
            var decimal = /^[0-9]+(\.|,)[0-9]+$/;
            return texto.match(decimal);
        }

        $(document).on('click', '#submit-btn', function(event){

        var response_data = []
        var calificaciones_objs = $('.col-calificacion');

        nota_maxima = {{ escala_notas.nota_maxima }};
        nota_minima = {{ escala_notas.nota_minima }};

        var notasCorrectas = true;

        for( i=0; i < calificaciones_objs.length; i++) {
            var inputs = $(calificaciones_objs[i]).find(':input');
            var matricula_calificacion = {};

            notas = [];
            matriculas = [];
             inputs.each(function() {
                 var input = $(this);
                 var nota, matricula;
                if (input.attr("class") == "nota") {
                    notas.push(input.val());
                }else if(input.attr("class") == "matricula") {
                    matriculas.push(input.val())
                    matricula_calificacion[input.val()] = {}
                }
            });

            for( m = 0; m < matriculas.length; m++ )
                for( n = 0; n < notas.length; n++ ){
                    var calificacion = $('#nota-' + notas[n] + '_' + matriculas[m])[0].value;
                    if(!checkDecimal(calificacion) || calificacion < nota_minima || calificacion > nota_maxima){
                        notasCorrectas = false;
                        document.getElementById('nota-' + notas[n] +'_'+ matriculas[m]).style.backgroundColor = 'red';                
                    }else{
                        matricula_calificacion[matriculas[m]][notas[n]] = calificacion.replace(",",".");
                        document.getElementById('nota-' + notas[n] +'_'+ matriculas[m]).style.backgroundColor = '';                
                    }
                }

            response_data.push(matricula_calificacion);
        }

        if (!notasCorrectas){
                alert('NOTA: Todos los valores deben ser decimales positivos separados por punto. Ejemplo: El número 50 debe escribirse como 50.0');
                alert('Recuerde que la nota mínima para este grupo es ' + nota_minima + ' y la nota máxima es ' + nota_maxima);
                return false;
        }

        $.ajax({
            type: "POST",
            url: "{% url 'calificar-grupo' grupoacademico=grupo.id%}",
            data: {json_data: JSON.stringify(response_data)},
            success: function(data){
                if(data.status == 1){
                   alert(data.message);
                   location.reload();
                }else if(data.status == 0)
                    alert(data.message + '. Por favor corrija el valor');
            },
            error : function(xhr,errmsg,err) {
                alert(xhr.status + ": " + xhr.responseText);
            }
        });
    });
    </script>

{% endblock %}
