<!doctype html>
<html lang="es">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reporte PDF</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        @page {
            size: letter landscape;
            margin: 1.0cm 1.5cm 3.5cm 1.5cm;
        }
        body {
            border: 1px solid black;
            padding: 5px 10px 0px 10px;
            text-align: center;
            background: #fff;
            color: black;
            font-size: 8px;
            font-family: 'Times New Roman', serif;
            line-height: 1.65;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;

        }
    </style>
</head>
<body>
<main class="container">

{% block content %}
          <div>
      <table class="table" border="1px" width="100%">
        <tr>
          <th rowspan="3"><img style="display:block;" src="https://s3.amazonaws.com/s3.timetoast.com/public/uploads/photo/7474928/image/97da1181a39ac673791b6c9fc00791d6" alt="unal logo" height="150px"></th>
          <th colspan="4">
            Programa de Extensión y Educación Continua - Departamento de Lenguas
            Extranjera
          </th>
        </tr>

        <tr>
          <th colspan="4">PLANILLA DE ASISTENCIA</th>
        </tr>

        <tr>
          <th colspan="1">Codigo:</th>
          <th colspan="1">Version:</th>
          <th colspan="1">Fecha de Entrega</th>
          <th colspan="1">PAGINA 1 DE 1</th>
        </tr>
      </table>

	  <br>

      <div class="container">
        <table class="table" border="1px" width="100%">
          <tr>
            <th colspan="2">Curso:</th>
            <td colspan="3"></td>
            <th colspan="2">Docente:</th>
            <td colspan="3"></td>

            <th colspan="2">Aula:</th>
            <td colspan="3"></td>
          </tr>

          <tr>
            <th colspan="2">Programa:</th>
            <td colspan="3">{{ grupo.horarioCurso.oferta_academica.programa.nombre }}</td>
            <th colspan="2">Modalidad:</th>
            <td colspan="3">{{ grupo.horarioCurso.oferta_academica.periodo.periodicidad }}</td>

            <th colspan="2">Horario:</th>
            <td colspan="3">{{ grupo.horarioCurso.horario }}</td>
          </tr>

          <tr>
            <th colspan="2">Grupo:</th>
            <td colspan="3">{{ grupo.codigo }}</td>
            <th colspan="2">Periodo:</th>
            <td colspan="3">{{ grupo.horarioCurso.oferta_academica.periodo.nombre }}</td>
            <th rowspan="2" colspan="2">Horas Dictadas:</th>
            <td rowspan="2" colspan="3"></td>
          </tr>

          <tr>
            <th colspan="2">Fecha:</th>
            <td colspan="3"></td>
            <th colspan="2">Fecha Fin:</th>
            <td colspan="3"></td>
          </tr>
        </table>

      </div>

	  <br>

    <div class="container">
      <table class="table" border="1px" width="100%">
        <tr>
          <th height="30" colspan="1">No:</th>
          <th colspan="6">Estudiante</th>
          <th colspan="1" bgcolor="lightblue">Nota Final</th>
          <th colspan="1" bgcolor="lightblue">Inasistencias</th>
          <th colspan="5" bgcolor="lightblue">Observaciones</th>
        </tr>

        <tr>
          <td colspan="1"></td>
          <td colspan="6"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="5"></td>
        </tr>

        <tr>
          <td colspan="1"></td>
          <td colspan="6"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="5"></td>
        </tr>

        <tr>
          <td colspan="1"></td>
          <td colspan="6"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="5"></td>
        </tr>
      </table>
    </div>
    </div>
{% endblock content %}
</main>
</body>
</html>