{% extends 'administracion/home.html' %}

{% block content %}
        {% if FULL_DATA.available %}
        {% if FULL_DATA.periodo_nulo %}
            <div class="alert alert-warning" role="alert">
            <strong>¡Periodo sin contextualizar!</strong> Recuerde seleccionar un periodo en la esquina superior derecha
        </div>
        {% else %}
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        <a href="{% url 'examen-clasificacion-opciones' %}">Volver a menú de Exámenes de Clasificación</a>
            <div class="col-sm-9 col-md-9">

    <h1 class="title-project">Administración de Exámenes de clasificación</h1>

    {%  if examenclasificacion_list %}
     <div class="table-responsive">
        <table class="table table-striped table-border">
            <thead class="table-head">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Periodo</th>
                <th scope="col">Idioma</th>
                <th scope="col">Cupos regulares</th>
                <th scope="col">Cupos regulares disponibles</th>
                <th scope="col">Cupos autorizados</th>
                <th scope="col">Cupos autorizados disponibles</th>
                <th scope="col">Tarifa</th>
                <th scope="col">Edad Mínima</th>
                <th scope="col">Lugar Aplicación</th>
                <th scope="col">Fecha Recepción Documentos</th>
                <th scope="col">Fecha-Aplicación</th>
                <th scope="col">Prinscritos</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>

            </tr>
          </thead>
          <tbody>
          {% for examen in examenclasificacion_list %}
            <tr>
                <td><a href="{{ examen.get_absolute_url }}">{{ examen.nombre}}</a></td>
                <td>{{ examen.periodo.alias }}</td>
                <td>{{ examen.idioma.nombre }}</td>
                <td>{{ examen.cupo_inicial }}</td>
                <td>{{ examen.cupo_disponible }}</td>
                <td>{{ examen.cupo_autorizado }}</td>
                <td>{{ examen.cupo_disponible_autorizado }}</td>
                <td>{{ examen.tarifa }} COP</td>
                <td>{{ examen.edad_minima }}</td>
                <td>{{ examen.lugar_aplicacion }}</td>
                <td>{{ examen.fecha_hora_recepcion_documentos }}</td>
                <td>{{ examen.getFechaAplicacion }}</td>

                <td>
                    <p>
                        <a href="{% url 'examen-clasificacion-preinscritos' examen.id %}" target="_blank">
                        <button class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-eye-open">
                            </span>
                        </button>
                        </a>
                    </p>
                </td>

                <td>
                    <p>
                        <a href="{% url 'examen-clasificacion_update' examen.id %}">
                        <button class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-pencil">
                            </span>
                        </button>
                        </a>
                    </p>
                </td>

                <td>
                    <p>
                        <a href="{% url 'examen-clasificacion_delete' examen.id %}">
                        <button class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash">
                            </span>
                        </button>
                        </a>
                    </p>
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>

    {% else %}
        <div class="alert alert-warning" role="alert">
            No hay exámenes de clasificación creados
        </div>

    {% endif %}
        <button type="button" class="btn btn-info pull-right" onclick="location.href='{% url 'examen-clasificacion_create' %}'">
             <span class="glyphicon glyphicon-plus-sign"></span> Nuevo examen</button>

    </div>
        {% endif %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            <strong>¡Lo sentimos!</strong> El presente servicio no se encuentra disponible de acuerdo al calendario del periodo
        </div>
    {% endif %}
{% endblock %}

