{% extends "administracion/home.html" %}

{% block content %}
    <div class="col-sm-9 col-md-9">
    <h1 class="title-project">Examen Clasificación: {{ examenclasificacion.nombre }}</h1>

    <div class="row">
        <div class="col-md-9">
        <ul class="list-group">
            <li class="list-group-item">Periodo: {{ examenclasificacion.periodo.alias }}</li>
            <li class="list-group-item">Nombre: {{ examenclasificacion.nombre }}</li>
            <li class="list-group-item">Idioma: {{ examenclasificacion.idioma.nombre }}</li>
            <li class="list-group-item">Cupos regulares disponibles: {{ examenclasificacion.cupo_disponible }} / {{ examenclasificacion.cupo_inicial }}</li>
            <li class="list-group-item">Cupos autorizados disponibles: {{ examenclasificacion.cupo_disponible_autorizado }} / {{ examenclasificacion.cupo_autorizado }}</li>
            <li class="list-group-item">Edad mínima: {{ examenclasificacion.edad_minima}}</li>
            <li class="list-group-item">Tarifa: {{ examenclasificacion.tarifa }} COP</li>
            <li class="list-group-item">Lugar de aplicación:
                    {{ examenclasificacion.lugar_aplicacion }}
            </li>
            <li class="list-group-item">Fecha-Hora Aplicación: {{ examenclasificacion.fecha_hora|date:"Y-m-d, H:i" }}</li>
            <li class="list-group-item">Codigo proyecto:
                {{ examenclasificacion.codigo_proyecto }}
            </li>
            <li class="list-group-item">Instrucciones:
                {% if examenclasificacion.mensaje_formalizacion %}
                    {{ examenclasificacion.mensaje_formalizacion|safe }}
                {% elif examenclasificacion.fecha_hora_recepcion_documentos %}
                    {{ examenclasificacion.fecha_hora_recepcion_documentos }}
                {% else %}
                    <strong>
                        No tiene mensaje con información de formalización y/o entrega de documentos
                    </strong>
                {% endif %}</li>
        </ul>


        <h3 class="title-project">Docentes Evaluadores</h3>
        <ul class="list-group">
            {% for docente in examenclasificacion.docentes_evaluadores.all %}
                <li class="list-group-item"> {{ docente }}</li>
            {% endfor %}
        </ul>
        </div>
        <div class="col-md-3">
            <div class="well">
                <h3>Acciones</h3>
                <a href="{% url 'examen-clasificacion_update' examenclasificacion.id %}" class="btn btn-default">Editar</a>
                <a href="{% url 'examen-clasificacion_delete' examenclasificacion.id %}" class="btn btn-default">Borrar</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

