{% extends "administracion/base_form.html" %}
{% load widget_tweaks %}
{% load profile_tags %}

{% block breadcrumb %}
    {{ block.super }} » Administración 
{% endblock %}

{% block administration-title %}
    <h2 class="title-project">Administrar Exámenes de clasificación</h2>
{% endblock %}

{% block form %}
    <div class="alert alert-info"><h4>Escoja una de las siguientes opciones</h4></div>

    <div class="list-group" id="list-tab" role="tablist">

        <a href="{% url 'examenes-clasificacion' %}" class="list-group-item">
            <h4 class="list-group-item-heading">Ver exámenes de clasificación del periodo actual</h4>
        </a>

        <a href="{% url 'calificacion-examen-list' %}" class="list-group-item">
            <h4 class="list-group-item-heading">Ver calificaciones exámenes</h4>
        </a>

    </div>

{% endblock %}